# OS files
*.log
*.lock
.DS_Store
Thumbs.db
ntuser.dat*
NTUSER.DAT*
*.regtrans-ms
*.blf

# Folders to ignore
AppData/
.android/
.config/
.gradle/
.keras/
.vscode/
.emulator_console_auth_token
IdeaProjects/
OneDrive/
waste_env/
fvm/

# Individual files
.gitconfig
.lesshst
-1.14-windows.xml
.emulator_console_auth_token

# Only track these
!README.md
!waste_classification_project.ipynb
